header{
    display: flex;
    flex-flow: column wrap;
    height: 80vh;
    justify-content: space-between;
}
button{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}
nav{
    display: flex;
    justify-content: space-between;
}
.headerMiddle{
    display: flex;
    flex-flow: column wrap;
    width: 700px;
    justify-items: center;
    align-items: center;
    margin: auto auto;
    text-align: center;
    row-gap: 30px;
}
h1{
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;

}
.headerMiddle>p{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;

}
.input{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #7352FF;
    box-sizing: border-box;
    border-radius: 21px;
    column-gap: 200px;
    height: 56px;
    padding-left: 30px;
    
}
.placeholder_text{
    justify-self: center;
    align-self: center;
}
.btn{
    background: #7352FF;
    border-radius: 21px;
    width: 150px;
    color: #FFFFFF;    
}
