.section-1{
    position: relative;
    display: flex;
    flex-flow: column wrap;
}

.blogers_menu>img{
    width: 100%;
    height: auto;
}
.screen{
    margin: auto auto;
    align-self: center;
    display: flex;
    flex-flow: column wrap;

}
.screen>img{
    border: 5px solid #7352FF;
    box-sizing: border-box;
    border-top: 60px solid #7352FF;
    border-radius: 12px;
    width: 60vw;
    height: 80vh; 
    position: absolute; 
    top: 280px;
    align-self: center;
    justify-self: center;
    z-index: 2;
}
.leaders_community{
    position: absolute;
    top: 750px;
    right: 0%;
    background-color: #191919;
    height: 130vh;
    width: 100vw;
    color: #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
    padding: 150px 0;
    row-gap: 70px;
}
.leaders_community>h2{
    align-self: center;
    text-align: center;
    width: 400px;
}
.leadersPhotos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.leadersPhotos>img:nth-child(1){
    height: 350px;
}
.leadersPhotos>img:nth-child(2){
    height: 400px;
}
.leadersPhotos>img:nth-child(3){
    height: 350px;
}
.right-left{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.featuredIn{
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    row-gap: 30px;
    font-size: 14px;
}
.featuresIcons{
    display: flex;
    column-gap: 40px; 
}