.section-screen{
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-screen>img{
    position: absolute;
    width: 950px;
    height: 90vh;
}   