.section-2{
    display: flex;
    flex-flow: column wrap;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 65vh;
    color: black;
}
.section-2>p{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: red;
}
.section-2>h2{
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    width: 1095px;
}