.section-9{
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    align-content: center;
    justify-content: center;
    margin: 100px 0;
}
.section-9>h5{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #7352FF;

}
.section-9>h2{
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    color: #191919;

}
.cards{
    display: flex;
    column-gap: 10px;
}
.cards>.card{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.01);    border-radius: 10px;
    border: 1px solid #EDEDED;
    height: 200px;
    width: 284px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 0;
}
.card>h5{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.card>p{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 15px;
    color: rgba(97, 106, 126, 1);
}
.card>img{
    height: 40px;
    margin-top: 15px;
    width: 40px;

}